@import '/src/styles/vars'

.container
  width: 100%
  height: 100%
  position: relative
  background: $main-color
  .content
    position: absolute
    top: calc(50% - $header-height)
    left: 53%
    transform: translate(-50%, calc(-50% + $header-height))
    font-size: 3rem
    color: $main-white
