<mat-toolbar color="primary">
  <a class="brand" routerLink=""><span>My Content</span></a>
  <span class="spacer"></span>
  <ul class="menu">
    <li><button class="menu-item" mat-button routerLink="hello">Hello</button></li>
    <li><button class="menu-item" mat-button routerLink="hello">About</button></li>
    <li><button class="menu-item" mat-button routerLink="hello">Contact</button></li>
  </ul>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>

<mat-menu #menu>
  <button *ngIf="!(isLoggedIn | async)" mat-menu-item routerLink="/auth">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button *ngIf="isLoggedIn | async" mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>