<div class="container">
  <div class="title-wrap">
    <h3 class="title">Users List</h3>
    <button 
      mat-icon-button 
      matTooltip="Add user" 
      matTooltipPosition="before"
      (click)="signup()"
    >
      <mat-icon class="btn-add">person_add</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <table mat-table *ngIf="users" [dataSource]="users">
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef [width]="64"> ID </th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let user">{{ user.username }}</td>
    </ng-container>
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let user">{{ user.password }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let user">{{ user.gender }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef [width]="128"> actions </th>
      <td mat-cell *matCellDef="let user">
        <button 
          mat-icon-button 
          matTooltip="Edit user" 
          (click)="edit(user.id)"
        >
          <mat-icon class="btn-edit">edit</mat-icon>
        </button>
        <button 
          mat-icon-button 
          matTooltip="Delete user" 
          (click)="delete(user.id)"
        >
          <mat-icon class="btn-delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>
  </table>
</div>